* {
    margin: 0;
    padding: 0;
}

/* .body {
    background-color: rgb(126, 164, 170);
} */

.mainBg{
    display: block;
    width: 100%;
    height: auto; 
    object-fit: contain; /* prevents imagae distortion */
}

/* .overlay-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
    pointer-events: auto;
} */

.images-container {
    position: relative;
    width: 100%;
}

.images-container a, .overlay-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.images-container a:hover {
    cursor: pointer;
    filter: brightness(1.2); /* photo lights up */
}


